In [50]:
import pandas as pd
import hashlib
from datetime import datetime

In [47]:
df = pd.read_csv('A-C.csv')
df

,GroupID,PatientID,Patient Acct #,First Name,MI,Last Name,Date of Birth,Sex,Current Street 1,Current Street 2,...,Current State,Current Zip Code,Previous First Name,Previous MI,Previous Last Name,Previous Street 1,Previous Street 2,Previous City,Previous State,Previous Zip Code
0,1,1,247028705-7,Sutton,J,Power,9/20/1945,Male,1858 Sullivan Parkway,NaN,...,California,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apt 9,Mount Vernon,New York,10557.0
1,1,2,NaN,Suttin,James,Power,9/21/1945,Male,1859 Sullivan Parkway,#2,...,California,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apartment # 9,Mount Vernon,New York,10557.0
2,1,3,247028705-7,Sutton,J,Power,9/20/1945,Male,1858 Sullivan Parkway,NaN,...,CA,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,NaN,Sutton,NaN,Power,9/20/1954,Male,1858 Sullivan Parkway,NaN,...,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,NaN,SUTTON,NaN,POWER,9/20/1954,Male,1858 SULLIVAN PKWAY,APT 2,...,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,61,197,NaN,Bill,NaN,Smith,5/16/1972,Male,16595 City View Lane,NaN,...,WA,98684.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,62,198,NaN,Bill,NaN,Smith,5/16/1972,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,63,199,NaN,Sarah,NaN,Field,3/17/2010,Female,9850 Kelso Road,NaN,...,WA,98626.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,64,200,NaN,Sara,NaN,Field,3/17/2010,Female,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,65,201,NaN,Sara,NaN,Field,3/17/2010,Female,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
def full_name_hash(first_name, last_name, gender, dob):
    SALT = 'OATEST'
    parsed_date = datetime.strptime(dob, '%m/%d/%Y')
    date_str = str(parsed_date.strftime('%Y%m%d'))
    hasher = hashlib.sha1()
    hasher.update('{}{}~{}{}'.format(SALT, date_str, gender, first_name).encode('utf-8'))
    return '{}~{}'.format(hasher.hexdigest(), last_name)

def partial_hash(first_name, last_name, gender, dob):
    # first three of first and last name
    first_name = first_name[:3] if len(first_name) >= 3 else 'X' * (3 - len(first_name)) + first_name 
    last_name = last_name[:3] if len(last_name) >= 3 else 'X' * (3 - len(last_name)) + last_name 
    SALT = 'OATEST'
    parsed_date = datetime.strptime(dob, '%m/%d/%Y')
    date_str = str(parsed_date.strftime('%Y%m%d'))
    hasher = hashlib.sha1()
    hasher.update('{}{}~{}{}'.format(SALT, date_str, gender, first_name).encode('utf-8'))
    return '{}~{}'.format(hasher.hexdigest(), last_name)