In [188]:
import pandas as pd
import hashlib
from datetime import datetime, timedelta
import fuzzy
import re #regular expressions
import numpy as np
from Levenshtein import distance as levenshtein_distance
soundex = fuzzy.Soundex(4)

## Load Patient Data

In [229]:
df_patient = pd.read_csv('Patient Matching Data.csv')

In [230]:
df_patient

,GroupID,PatientID,Patient Acct #,First Name,MI,Last Name,Date of Birth,Sex,Current Street 1,Current Street 2,...,Current State,Current Zip Code,Previous First Name,Previous MI,Previous Last Name,Previous Street 1,Previous Street 2,Previous City,Previous State,Previous Zip Code
0,1,1,247028705-7,Sutton,J,Power,9/20/1945,Male,1858 Sullivan Parkway,NaN,...,California,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apt 9,Mount Vernon,New York,10557.0
1,1,2,NaN,Suttin,James,Power,9/21/1945,Male,1859 Sullivan Parkway,#2,...,California,93726.0,NaN,NaN,NaN,2 Erie Crossing,Apartment # 9,Mount Vernon,New York,10557.0
2,1,3,247028705-7,Sutton,J,Power,9/20/1945,Male,1858 Sullivan Parkway,NaN,...,CA,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,NaN,Sutton,NaN,Power,9/20/1954,Male,1858 Sullivan Parkway,NaN,...,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,NaN,SUTTON,NaN,POWER,9/20/1954,Male,1858 SULLIVAN PKWAY,APT 2,...,California,93726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,61,197,NaN,Bill,NaN,Smith,5/16/1972,Male,16595 City View Lane,NaN,...,WA,98684.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,62,198,NaN,Bill,NaN,Smith,5/16/1972,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,63,199,NaN,Sarah,NaN,Field,3/17/2010,Female,9850 Kelso Road,NaN,...,WA,98626.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,64,200,NaN,Sara,NaN,Field,3/17/2010,Female,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,65,201,NaN,Sara,NaN,Field,3/17/2010,Female,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [233]:
def swap_full_state_name(x):
    states = {
        "AK" : "Alaska",
        "AL" : "Alabama",
        "AR" : "Arkansas",
        "AS" : "American Samoa",
        "AZ" : "Arizona",
        "CA" : "California",
        "CO" : "Colorado",
        "CT" : "Connecticut",
        "DC" : "District of Columbia",
        "DE" : "Delaware",
        "FL" : "Florida",
        "GA" : "Georgia",
        "GU" : "Guam",
        "HI" : "Hawaii",
        "IA" : "Iowa",
        "ID" : "Idaho",
        "IL" : "Illinois",
        "IN" : "Indiana",
        "KS" : "Kansas",
        "KY" : "Kentucky",
        "LA" : "Louisiana",
        "MA" : "Massachusetts",
        "MD" : "Maryland",
        "ME" : "Maine",
        "MI" : "Michigan",
        "MN" : "Minnesota",
        "MO" : "Missouri",
        "MS" : "Mississippi",
        "MT" : "Montana",
        "NC" : "North Carolina",
        "ND" : "North Dakota",
        "NE" : "Nebraska",
        "NH" : "New Hampshire",
        "NJ" : "New Jersey",
        "NM" : "New Mexico",
        "NV" : "Nevada",
        "NY" : "New York",
        "OH" : "Ohio",
        "OK" : "Oklahoma",
        "OR" : "Oregon",
        "PA" : "Pennsylvania",
        "PR" : "Puerto Rico",
        "RI" : "Rhode Island",
        "SC" : "South Carolina",
        "SD" : "South Dakota",
        "TN" : "Tennessee",
        "TX" : "Texas",
        "UT" : "Utah",
        "VA" : "Virginia",
        "VI" : "Virgin Islands",
        "VT" : "Vermont",
        "WA" : "Washington",
        "WI" : "Wisconsin",
        "WV" : "West Virginia",
        "WY" : "Wyoming"
    }
    if len(x) < 3:
        return x.upper()
    else:
        min_lev_dist_state = 'XX'
        min_dist = 1000
        for abb, state in states.items():
            dist = levenshtein_distance(x, state)
            if dist < min_dist:
                min_lev_dist_state = abb
                min_dist = dist
        return min_lev_dist_state

def swap_abb_state_name(x):
    states = {
        "AK" : "Alaska",
        "AL" : "Alabama",
        "AR" : "Arkansas",
        "AS" : "American Samoa",
        "AZ" : "Arizona",
        "CA" : "California",
        "CO" : "Colorado",
        "CT" : "Connecticut",
        "DC" : "District of Columbia",
        "DE" : "Delaware",
        "FL" : "Florida",
        "GA" : "Georgia",
        "GU" : "Guam",
        "HI" : "Hawaii",
        "IA" : "Iowa",
        "ID" : "Idaho",
        "IL" : "Illinois",
        "IN" : "Indiana",
        "KS" : "Kansas",
        "KY" : "Kentucky",
        "LA" : "Louisiana",
        "MA" : "Massachusetts",
        "MD" : "Maryland",
        "ME" : "Maine",
        "MI" : "Michigan",
        "MN" : "Minnesota",
        "MO" : "Missouri",
        "MS" : "Mississippi",
        "MT" : "Montana",
        "NC" : "North Carolina",
        "ND" : "North Dakota",
        "NE" : "Nebraska",
        "NH" : "New Hampshire",
        "NJ" : "New Jersey",
        "NM" : "New Mexico",
        "NV" : "Nevada",
        "NY" : "New York",
        "OH" : "Ohio",
        "OK" : "Oklahoma",
        "OR" : "Oregon",
        "PA" : "Pennsylvania",
        "PR" : "Puerto Rico",
        "RI" : "Rhode Island",
        "SC" : "South Carolina",
        "SD" : "South Dakota",
        "TN" : "Tennessee",
        "TX" : "Texas",
        "UT" : "Utah",
        "VA" : "Virginia",
        "VI" : "Virgin Islands",
        "VT" : "Vermont",
        "WA" : "Washington",
        "WI" : "Wisconsin",
        "WV" : "West Virginia",
        "WY" : "Wyoming",
        'XX' : ''
    }
    min_lev_dist_state = 'XX'
    min_dist = 1000
    for abb in states.keys():
        dist = levenshtein_distance(x, abb)
        if dist < min_dist:
            min_lev_dist_state = abb
            min_dist = dist
    return min_lev_dist_state
    
def clean_state_data(df):
    df['Current State'].fillna('XX', inplace=True)
    df['Current State'] = df['Current State'].apply(swap_full_state_name)
    df['Current State'] = df['Current State'].apply(swap_abb_state_name)

def clean_zip_code(df):
    df['Current Zip Code'].fillna(0, inplace=True)
    df['Zip Code String'] = df['Current Zip Code'].apply(lambda x: str(int(x)))
    df['Zip Code String'] = df['Zip Code String'].replace('0', '00000')
    df['National Area'] = df['Zip Code String'].apply(lambda x: int(x[0]))
    df['Sectional Center'] = df['Zip Code String'].apply(lambda x: int(x[1:3]))
    df['Delivery Area'] = df['Zip Code String'].apply(lambda x: int(x[3:]))
    
clean_state_data(df_patient)
clean_zip_code(df_patient)

In [236]:
# Clustering discrete and mixed data (from stackoverflow: https://datascience.stackexchange.com/questions/8681/clustering-for-mixed-numeric-and-nominal-discrete-data)
from sklearn.neighbors import DistanceMetric
def gower_distance(X):
    """
    This function expects a pandas dataframe as input
    The data frame is to contain the features along the columns. Based on these features a
    distance matrix will be returned which will contain the pairwise gower distance between the rows
    All variables of object type will be treated as nominal variables and the others will be treated as 
    numeric variables.
    Distance metrics used for:
    Nominal variables: Dice distance (https://en.wikipedia.org/wiki/S%C3%B8rensen%E2%80%93Dice_coefficient)
    Numeric variables: Manhattan distance normalized by the range of the variable (https://en.wikipedia.org/wiki/Taxicab_geometry)
    """
    individual_variable_distances = []

    for i in range(X.shape[1]):
        feature = X.iloc[:,[i]]
        if feature.dtypes[0] == np.object:
            feature_dist = DistanceMetric.get_metric('dice').pairwise(pd.get_dummies(feature))
        else:
            feature_dist = DistanceMetric.get_metric('manhattan').pairwise(feature) / np.ptp(feature.values)

        individual_variable_distances.append(feature_dist)

    return np.array(individual_variable_distances).mean(0)

df_patient.fillna(0, inplace=True)
X = gower_distance(df_patient)

In [280]:
from sklearn.cluster import AgglomerativeClustering
from sklearn.cluster import OPTICS
clustering = AgglomerativeClustering(n_clusters=None, distance_threshold=0.8).fit(X)
clustering.labels_

/Users/varuntandon/Library/Python/3.7/lib/python/site-packages/scipy/cluster/hierarchy.py:830: ClusterWarning: scipy.cluster: The symmetric non-negative hollow observation matrix looks suspiciously like an uncondensed distance matrix
  return linkage(y, method='ward', metric='euclidean')

array([ 18,  18,   3,  15,   3,   7,  15,  49,  49,  49,  19,  19,  68,
        92,  97,  40,  34,  34,  40,  34, 102,   7,  66,  69,  91,  69,
        99,  61,  80,  82,  98,  11,  11,  77,  55,  55,  88,  81,  75,
        67,  67,   9, 103,   9,   9,  48,  11,  74,  84,  95,  74, 101,
        45,  33,  33,  33,  25,  70,  53,  56,  25,  30,  26,  30,  26,
        26,  26,  60,  60,  23,  16,  16,  16,  23,  23,  16,  16,  16,
        72,  14,  14,  14,  14,  51,  51,  51,  78,  93,  93,  93,  93,
        93,  28,  28,  32,  32,  21,  21,  21,  13,  13,  13,  76,  47,
        47,  47,  37,  37,  85,  27,  27,  27,  27,  86,   0,  50,  50,
         0,   0,  20,  20,  58,  59,  59,  59,  59,   6,  89,  89,  46,
        39,  39,  46,   6,  31,  31,  31,  29,  29,   8,   8,   8,  29,
        79,  79,  79,  35,  42,  35,  62,   5,  57,   5,  94,   4,  54,
         4,   4,  52,  65,  52,  43,  44,  43,  44,  71,  64,  22,  12,
        12,  12,  17,  96,  17,  17,  73,  83,  63,   1,  90,  38,   1,
        87,  36,  36,  41,  10,  10,  10,  10,  24,  24,  24,  24,   2,
         2,   2,  22, 100,   6,   6])

In [75]:
def convert_date_string(x):
    try:
        parsed_date = datetime.strptime(x['Date of Birth'], '%m/%d/%Y')
        x['dob_string'] = str(parsed_date.strftime('%Y%m%d'))
        return x
    except:
        bad_row = x['Date of Birth']
        bad_row_splits = bad_row.split('/')
        x['dob_string'] = bad_row_splits[2] + bad_row_splits[1] + bad_row_splits[0]
        return x

def clean_date_data(df):
    return df.apply(convert_date_string, axis=1)

df_patient = clean_date_data(df_patient)

In [76]:
def clean_sex_data(df):
    df['Sex'].fillna('U', inplace=True)
    df['Sex'] = df['Sex'].apply(lambda x: x[0].upper() if x[0].upper() in {'M', 'F'} else 'U')

def fill_empty_name_data(df):
    df['First Name'].fillna('', inplace=True)
    df['Last Name'].fillna('', inplace=True)

clean_sex_data(df_patient)
fill_empty_name_data(df_patient)
df_patient['Sex'].unique()

array(['M', 'F', 'U'], dtype=object)

In [77]:
def normalize_patient_first_and_last_names(df):
    df['rnaFirstName'] = df['First Name'].str.replace('[^a-zA-Z]', '').str.lower()
    df['rnaLastName'] = df['Last Name'].str.replace('[^a-zA-Z]', '').str.lower()

normalize_patient_first_and_last_names(df_patient)

In [78]:
def full_name_hash(first_name, last_name, gender, dob):
    SALT = 'OATEST'
    hasher = hashlib.sha1()
    hasher.update('{}{}~{}{}'.format(SALT, dob, gender, first_name).encode('utf-8'))
    return '{}~{}'.format(hasher.hexdigest(), last_name)

def partial_hash(first_name, last_name, gender, dob):
    # first three of first and last name
    first_name = first_name[:3] if len(first_name) >= 3 else 'X' * (3 - len(first_name)) + first_name
    last_name = last_name[:3] if len(last_name) >= 3 else 'X' * (3 - len(last_name)) + last_name 
    SALT = 'OATEST'
    hasher = hashlib.sha1()
    hasher.update('{}{}~{}{}'.format(SALT, dob, gender, first_name).encode('utf-8'))
    return '{}~{}'.format(hasher.hexdigest(), last_name)

def df_full_name_hash(x):
    return full_name_hash(x['First Name'], x['Last Name'], x['Sex'], x['dob_string'])

def df_partial_hash(x):
    return partial_hash(x['First Name'], x['Last Name'], x['Sex'], x['dob_string'])

def create_hash_tokens(df):
    df['full_name_hash'] = df.apply(df_full_name_hash, axis=1)
    df['partial_name_hash'] = df.apply(df_partial_hash, axis=1)
    
create_hash_tokens(df_patient)

In [79]:
df_patient

,GroupID,PatientID,Patient Acct #,First Name,MI,Last Name,Date of Birth,Sex,Current Street 1,Current Street 2,...,Previous Street 1,Previous Street 2,Previous City,Previous State,Previous Zip Code,dob_string,rnaFirstName,rnaLastName,full_name_hash,partial_name_hash
0,1,1,247028705-7,Sutton,J,Power,9/20/1945,M,1858 Sullivan Parkway,NaN,...,2 Erie Crossing,Apt 9,Mount Vernon,New York,10557.0,19450920,sutton,power,f513a340f370e0d1e213cbe5a7e030f3c3729928~Power,8904f84c4af7db2bba24968b9628c21a678941bb~Pow
1,1,2,NaN,Suttin,James,Power,9/21/1945,M,1859 Sullivan Parkway,#2,...,2 Erie Crossing,Apartment # 9,Mount Vernon,New York,10557.0,19450921,suttin,power,cb4eb0277fecfbdee00d5951d5e4e4f1cabbe283~Power,4e82ecca5923b548d8f4e9583e378401046302b4~Pow
2,1,3,247028705-7,Sutton,J,Power,9/20/1945,M,1858 Sullivan Parkway,NaN,...,NaN,NaN,NaN,NaN,NaN,19450920,sutton,power,f513a340f370e0d1e213cbe5a7e030f3c3729928~Power,8904f84c4af7db2bba24968b9628c21a678941bb~Pow
3,1,4,NaN,Sutton,NaN,Power,9/20/1954,M,1858 Sullivan Parkway,NaN,...,NaN,NaN,NaN,NaN,NaN,19540920,sutton,power,d31c28f50fed0591d910c358b3d1fa93b05f49e0~Power,944a54f27ba70e232d8ed8c541e5af2df06d2dc1~Pow
4,1,5,NaN,SUTTON,NaN,POWER,9/20/1954,M,1858 SULLIVAN PKWAY,APT 2,...,NaN,NaN,NaN,NaN,NaN,19540920,sutton,power,63fae202660839596baf56a46c6396dbd629705b~POWER,73cdae46281d17b0df93453d065f05a419f85cb2~POW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,61,197,NaN,Bill,NaN,Smith,5/16/1972,M,16595 City View Lane,NaN,...,NaN,NaN,NaN,NaN,NaN,19720516,bill,smith,4c04d8977da3a043584cd6190536d8f576e6b9b2~Smith,12ac8663b465bc1eabfd52456161e3587a332fc1~Smi
197,62,198,NaN,Bill,NaN,Smith,5/16/1972,M,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,19720516,bill,smith,4c04d8977da3a043584cd6190536d8f576e6b9b2~Smith,12ac8663b465bc1eabfd52456161e3587a332fc1~Smi
198,63,199,NaN,Sarah,NaN,Field,3/17/2010,F,9850 Kelso Road,NaN,...,NaN,NaN,NaN,NaN,NaN,20100317,sarah,field,caf30d9710cf2852506b6752a27a3c84e5180271~Field,c0d4a6a68381657e4b4ab1a7abde60cbb1358e48~Fie
199,64,200,NaN,Sara,NaN,Field,3/17/2010,F,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,20100317,sara,field,10d69a413a0841682292498fceef1edf6498641e~Field,c0d4a6a68381657e4b4ab1a7abde60cbb1358e48~Fie
200,65,201,NaN,Sara,NaN,Field,3/17/2010,F,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,20100317,sara,field,10d69a413a0841682292498fceef1edf6498641e~Field,c0d4a6a68381657e4b4ab1a7abde60cbb1358e48~Fie

In [80]:
def findConfidenceLevel(first_name1, last_name1, rna_first_name1, rna_last_name1, first_name2, last_name2, rna_first_name2, rna_last_name2):
    if rna_first_name1 == rna_first_name2 and rna_last_name1 == rna_last_name2:
        return 100
    elif rna_last_name1 == rna_last_name2 and rna_first_name1[:4] == rna_first_name2[:4]:
        return 90
    elif rna_last_name1 == rna_last_name2:
        return 85
    elif rna_last_name1[0:5] == rna_last_name2[0:5] and rna_first_name1[:4] == rna_first_name2[:4]:
        return 80
    elif soundex(last_name1) == soundex(last_name2) and soundex(first_name1) == soundex(first_name2):
        return 79
    elif soundex(rna_last_name1) == soundex(rna_last_name2) and soundex(rna_first_name1) == soundex(rna_first_name2):
        return 77
    elif rna_first_name1 == rna_first_name2 and soundex(rna_last_name1[:4]) == soundex(rna_last_name2[:4]):
        return 76
    elif rna_first_name1 == rna_first_name2:
        return 60
    else:
        return 50
    
def findConfidenceLevel2(first_name1, last_name1, rna_first_name1, rna_last_name1, first_name2, last_name2, rna_first_name2, rna_last_name2):   
    if rna_first_name1 == rna_first_name2 and rna_last_name1 == rna_last_name2:
        return 100
    elif rna_last_name1 == rna_last_name2 and rna_first_name1[:4] == rna_first_name2[:4]:
        return 90
    elif rna_last_name1 == rna_last_name2 and soundex(first_name1) == soundex(first_name2):
        return 85
    elif rna_last_name1[0:5] == rna_last_name2[0:5] and rna_first_name1[:4] == rna_first_name2[:4]:
        return 80
    elif soundex(last_name1) == soundex(last_name2) and soundex(first_name1) == soundex(first_name2):
        return 79
    elif soundex(rna_last_name1) == soundex(rna_last_name2) and soundex(rna_first_name1) == soundex(rna_first_name2):
        return 77
    elif rna_first_name1 == rna_first_name2 and soundex(rna_last_name1[:4]) == soundex(rna_last_name2[:4]):
        return 76
    elif rna_last_name1 == rna_last_name2:
        return 75
    elif rna_first_name1 == rna_first_name2:
        return 60
    else:
        return 50

In [130]:
def generate_confidence_matrix(confidence_type, confidence_func, df, threshold):
    matrix = np.zeros((df.shape[0], df.shape[0]))
    for index1, row1 in df.iterrows():
        for index2, row2 in df.iterrows():
            conf = confidence_func(
                    row1['First Name'],
                    row1['Last Name'],
                    row1['rnaFirstName'],
                    row1['rnaLastName'],
                    row2['First Name'],
                    row2['Last Name'],
                    row2['rnaFirstName'],
                    row2['rnaLastName']
            )
            if conf > threshold:
                matrix[index1][index2] = 1
            else:
                matrix[index1][index2] = 0
    return matrix

In [169]:
confidence_matrix = generate_confidence_matrix(2, findConfidenceLevel2, df_patient, 70)

In [170]:
from scipy.sparse import csr_matrix
from scipy.sparse.csgraph import connected_components
graph = csr_matrix(confidence_matrix)
n_components, labels = connected_components(csgraph=graph, directed=False, return_labels=True)

In [171]:
n_components

48

In [172]:
labels

array([ 0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  1,  1,  1,  2,  2,  3,  3,
        3,  3,  3,  4,  4,  4,  5,  5,  5,  6,  6,  7,  7,  8,  8,  8,  8,
        9,  9, 10, 11, 11, 11, 11, 12, 12, 12, 12, 13, 13, 14, 14, 14, 14,
       15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 17, 17,
       17, 18, 18, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19,
       19, 20, 20, 20, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 21, 21, 21,
       22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24,
       24, 24, 25, 25, 25, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26, 26, 26,
       26, 27, 28, 27, 27, 27, 27, 27, 27, 27, 29, 29, 29, 29, 30, 30, 30,
       30, 31, 31, 31, 31, 32, 32, 32, 33, 34, 33, 33, 33, 35, 35, 36, 36,
       36, 37, 37, 37, 37, 38, 38, 39, 40, 40, 40, 40, 40, 41, 41, 42, 43,
       43, 43, 43, 44, 44, 44, 44, 45, 45, 46, 46, 47, 47, 47],
      dtype=int32)

In [252]:
def measure_accuracy(labels, df):
    tp = 0
    fp = 0
    tn = 0
    fn = 0
    for index1, row1 in df.iterrows():
        for index2, row2 in df.iterrows():
            if index1 >= index2:
                continue
            if row1['GroupID'] == row2['GroupID']: # P
                if labels[index1] == labels[index2]: # T
                    tp += 1
                else:
                    fn += 1
            else: # N
                if labels[index1] == labels[index2]: # F
                    fp += 1
                else: # T
                    tn += 1
    return (tp, fp, tn, fn)

In [281]:
tp, fp, tn, fn = measure_accuracy(clustering.labels_, df_patient)

In [282]:
(tp + tn) / (tp + fp + tn + fn)

0.9903980099502487

In [283]:
tp / (tp + fp)

0.7973856209150327

In [284]:
tp / (tp + fn)

0.4295774647887324

In [285]:
tp, fp, tn, fn

(122, 31, 19785, 162)

In [289]:
from clean_data import *

In [290]:
load_and_clean_data('Patient Matching Data.csv')

NameError: name 'levenshtein_distance' is not defined